<section id="content">
  <header>
    <mat-toolbar [ngClass]="{ 'visually-hidden': o.isActivated && o.activatedRoute.snapshot.url[0].path == 'home' }">
      <span>{{ title }}</span>
      <span class="spacer"></span>
      <button type="button" mat-icon-button>
        <mat-icon>restart_alt</mat-icon>
      </button>
      <button type="button" mat-icon-button>
        <mat-icon>volume_up</mat-icon>
      </button>
    </mat-toolbar>
  </header>

  <main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
    <router-outlet #o="outlet"/>
  </main>

  <footer>
    <section [ngClass]="{ 'visually-hidden': o.isActivated && o.activatedRoute.snapshot.url[0].path == 'home' }">
      <p>Footer</p>
    </section>
  </footer>
</section>
